body {
  background-color: #1a1a1a
}
.content {
  text-align: center;
  height: 4em;
  font-size: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.button {
background:    #2dec07;
border:        1px solid #ffffff;
border-radius: 5px;
padding:       8px 20px;
color:         #000000;
display:       inline-block;
font:          normal bold 24px/1 "Open Sans", sans-serif;
text-align:    center;
}

.button:hover {
  background: #d51ce6;
  color: white;
}

p {
  font-family: sans-serif;
  color: white;
  font-size: small;
}
h1 {
  font-family: sans-serif;
  color: white;
}
h2 {
  font-family: sans-serif;
  color: white;
  font-size: larger;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.danger {
color: red;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
